:root {
	--terminalText: #96bb57;
}
* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;

  & body {
    color: white;
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & input {
      border: none;
    }
  }
}

#startBtnContainer{
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  & #btnStart{
    font-family: "Press Start 2P", Courier, monospace;
    height: 50px;
    width: auto;
    line-height: 50px;
    font-size: 0.8em;
    border: none;
    background-color: transparent;
    color: var(--terminalText);
    transition: color 0.4s ease-in-out;
    cursor: pointer;
  }
  & #btnStart:hover{
    color: #fff;
  }
  
  /* &::before{
    content: "> ¨Press any key to START";
  } */
}

#main_Container {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background-image: url(../assets/terminalVideoBackground.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1.6s ease-out;

  & #terminal_Container {
    position: absolute;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    z-index: 3;
    transition: display ease-in-out 0.5s;

    & .terminal_Container_Inputs {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      aspect-ratio: 16 / 9;

      & input[type="button"],
      & a {
        cursor: pointer;
        position: absolute;
      }

      & input[type="button"],
      & a {
        cursor: pointer;
        position: absolute;
      }

      & .SM_instagram,
      & .SM_tiktok,
      & .SM_twitter {
        background-color: rgba(255, 255, 255, 0.0);
        opacity: 0;
        transition: all ease-out 0.3s;
        border-radius: 10px;
        cursor: pointer;
        position: absolute;
        box-shadow: 0 0 20px 10px rgba(181, 222, 84, 0.5)
      }

      & .SM_instagram {
        left: 85.68%;
        top: 3.5%;
        width: 3.65%;
        height: 5%;
        height: 5%;
      }

      & .SM_tiktok {
        left: 81.5%;
        top: 5%;
        width: 3%;
        height: 5.6%;
        transform: rotate(-11deg);
      }

      & .SM_twitter {
        left: 90%;
        top: 5%;
        width: 3.2%;
        height: 5.6%;
        transform: rotate(15deg);
      }

      & .bt_service {
        width: 8.44%;
        height: 19.91%;
        float: left;
        left: 84.37%;
        top: 60%;
        background-color: transparent;
      }

      & .bt_power {
        width: 6.77%;
        height: 12.04%;
        top: 79.81%;
        left: 13.8%;
        background-color: transparent;
      }

      & #bt_submit_Target{
        width: 5.99%;
        height: 12.04%;
        top: 12.5%;
        left: 84.11%;
        background-color: transparent;
      }

      & #btnChat,
      & #btnRant,
      & #btnPuzzle,
      & #btnCurious {
        position: absolute;
        width: 7%;
        height: 12%;
        background-color: transparent;
        cursor: pointer;
        border-radius: 50%;
      }

      & #btnChat {
        top: 33.2%;
        left: 8%;
      }

      & #btnCurious {
        top: 46%;
        left: 1.5%;
      }

      & #btnPuzzle {
        top: 46%;
        left: 15.2%;
      }

      & #btnRant {
        top: 57.8%;
        left: 8.5%;
      }

      & #btnNotes{
        width: 14%;
        height: 25%;
        position: absolute;
        left: 82%;
        top: 32%;
        transform: rotate(-13deg);
        cursor: pointer;
        background-color: transparent;
      }
    }

    & #chatbox_Container {
      position: absolute;
      width: 41%;
      height: 64.56%;
      top: 17.5%;
      left: 30.30%;
      background: repeating-linear-gradient(0deg, rgba(0, 255, 0, 0.07) -1px, transparent 1px);       
      border-radius: 10% / 13%;
      transition: transform ease-in-out 0.20s;
      transform: scaleY(0);

      & #wordScrambleContainer{
        position: absolute;
        width: 90%;
        height: auto;
        margin: 0 5% auto;

        & h1{
          text-align: center;
          font-size: 1.1em;
          font-weight: bold;
          margin: 3% auto;
          color: var(--terminalText);
        }

        & .word{
          font-size: 1.2em;
          font-weight: bold;
          text-align: center;
          letter-spacing: 1em;
          word-wrap: break-word;
        }

        & .details{}

        & .buttons{}

      }

      & #headsUpDisplay{
        position: absolute;
        top: 3%;
        right: 4%;
        width: 92%;
        height: 6%;
        
        & #healthBar{
          float: right;
          width: auto;
          height: 100%;
          cursor: pointer;

          & div{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            aspect-ratio: 1 / 1;
            height: 100%;
            width: auto;
            float: right;
            margin-left: 5px;
          }

          & .heartFull{
            background-image:url(../assets/heart_full_green.png);
          }
          & .heartEmpty{
            background-image:url(../assets/heart_empty_green.png);
          }
          & .heartHalf{
            background-image:url(../assets/heart_half_green.png);
          }
          
        }

        & #rewardsBar{
          float: left;
          width: auto;
          height: 100%;
          cursor: pointer;

          & div{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            aspect-ratio: 1 / 1;
            height: 100%;
            width: auto;
            float: left;
            margin-right: 5px;
          }

          & .star{
            background-image:url(../assets/star.png);
          }
          & .cup{
            background-image:url(../assets/cup.png);
          }
          & .message{
            background-image:url(../assets/message.png);
          }
          & .game{
            background-image:url(../assets/game.png);
          }
        }
      }

      & #simonScore{
        text-align: right;
        font-family: "Press Start 2P", Courier, monospace;
        height: 30px;
        line-height: 0.4em;
        width: 90%;
        margin: 4% auto 0;
        font-size: 0.5em;

        & div{
          float: left;
          width: 33.3%;
          min-height: 15px;
          text-align: center;

          & div{
            width: 100%;
          }
        }

        & div:nth-child(3){
          float: right;
        }
      }

      & #chatbox {
        height: calc(96% - 30px);
        width: calc(96% - 6px);        
        margin: 2% 2% 0;
        overflow-y: auto;
        overflow-x: hidden;
        color: #fff;
        font-size: 0.7em;
        line-height: 1.2em;
        animation-duration: 0.05s;
        animation-name: textflicker;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        padding: 3%;
        scrollbar-width: thin;
        /* Standard scrollbar width property */
        scrollbar-color: rgba(60, 60, 60, 0.2) transparent;
        /* Standard scrollbar color property */
        
        &.simonOn{
          height: calc(96% - 67px);
        }

        &.wordScrambeOn{          
          height: calc(62% - 100px);
          margin: 35% 2% 0;
        }
      }

      & strong {
        font-weight: bold;
      }

      & p {
        margin-bottom: 0.5em;
        position: relative;

        &.arcadeElement{
          margin-top: 7%;
          margin-left: 20px;
          text-indent: 10px;
          padding-top: 2px;
          cursor: pointer;
          min-height: 1.5em;      
          width: auto;          

          &::before{
            content: '';
            position: absolute;
            left: -20px;
            width: 0; 
            height: 0; 
            padding-left: 10px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid #fff;
          }
          
          &:hover{
            background-color: var(--terminalText);
            color: #fff;
            font-weight: bold;
          }
          
          &:hover::before {
            border-left-color: var(--terminalText);
          }

        }
        
      }

      & #chatbox::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        background-color: transparent;
        border-radius: 0.75vw;
      }

      & #chatbox::-webkit-scrollbar {
        width: 0.9vw;
        border-radius: 0.75vw;
        background-color: rgba(60, 60, 60, 0.2);
      }

      & #chatbox::-webkit-scrollbar-thumb {
        border-radius: 0.75vw;
        background-color: #FFF;
        background-color: rgba(84, 222, 93, 0.3);
      }

      & #userInput {
        width: 90%;        
        margin: 0 5% 0;
        border: 1px solid rgba(0, 200, 0, 0.3);
        border-radius: 2px;
        overflow: auto;
        color: #ffffff;
        font-size: 0.5em;
        height: 24px;
        font-weight: bold;
        text-indent: 0.5em;
        background-color: rgba(0, 0, 0, 0.25);
        font-family: "Courier New", Courier, monospace;
        animation-duration: 0.01s;
        animation-name: textflicker;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      & #userInput:focus {
        outline: none !important;
        box-shadow: 0 0 3px rgba(20, 230, 0, 0.5);
      }

      & .skipIntroBtn {
        height: auto;
        width: 22%;
        right: 6%;
        bottom: 20%;
        z-index: 3;
        background: transparent;
        text-align: center;
        cursor: pointer;
        position: absolute;
        color: #ffff;
        border: 1px solid #fff;
        padding: 1% 2%;        
        font-size: 0.8em;        
      }

    }

    & .terminalLight,
    & .toggleSwitch,
    & .powerButton {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
    }

    & .terminalLight {
      width: 6.17%;
      height: 10.97%;
      top: 12.68%;
      left: 84.58%;
      border-radius: 50%;

      &.red {
        background-image: url(../assets/Red_Service_Light.jpg);
      }
      &.green{
        background-image: url(../assets/Green_Service_Light.jpg);
      }
    }

    & .toggleSwitch {
      width: 12.53%;
      height: 25.88%;
      top: 58.47%;
      left: 81.85%;
      background-image: url(../assets/Switch_off.png);
      transition: display ease-out 0.5s;
    }

    & .powerButton {
      height: 22.38%;
      width: 17.06%;
      left: 9.75%;
      top: 77.62%;
      background-image: url(../assets/powerButton.jpg);
    }

    & .chatButton,
    & .puzzleButton,
    & .curiousButton,
    & .rantButton {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      border-radius: 50%;
    }

    & .chatButton {
      background-image: url(../assets/mood_happy.jpg);
      width: 7.06%;
      height: 12.36%;
      left: 8.31%;
      top: 33.33%;
    }

    & .puzzleButton {
      background-image: url(../assets/mood_meh.jpg);
      width: 6.51%;
      height: 11.94%;
      left: 15.34%;
      top: 45.69%;
    }

    & .curiousButton {
      background-image: url(../assets/mood_neutral.jpg);
      width: 6.67%;
      height: 11.81%;
      left: 1.67%;
      top: 45.69%;
    }

    & .rantButton {
      background-image: url(../assets/mood_sad.jpg);
      width: 7.03%;
      height: 12.08%;
      left: 8.31%;
      top: 57.64%;

    }
  }

  & #defrag_Container {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    position: absolute;
    z-index: 2;
  }

  & #defrag_Container_Inputs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    aspect-ratio: 16 / 9;
    z-index: 2;

    & .bt_Close_Defrag {
      position: absolute;
      cursor: pointer;
      width: 5.47%;
      height: 9.72%;
      top: 56.67%;
      left: 73.02%;
      border-radius: 50%;
      transition: all ease-out 0.5s;
      background-color: transparent;
    }

    & #btDefragPanel {
      position: absolute;
      cursor: pointer;
      width: 5.47%;
      height: 15.72%;
      top: 5.67%;
      left: 74.02%;
      background-color: transparent;
    }

  }

  & #liteBriteContainer {
    position: absolute;
    height: 29.5%;
    width: 47.6%;
    gap: 2px;
    top: 33.6%;
    left: 14%;

    & .liteBriteLite.on {
      background-color: rgb(144, 196, 64);
    }
  }

  & #buttonsBriteLite {
    position: absolute;
    width: 20%;
    height: 6%;
    top: 63%;
    left: 42%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    & #clearBriteLite {
      cursor: pointer;
      padding: 0 10px;
    }
  }

  &.portraitMode {
    width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    background-image: url(../assets/RantCPU_Background_Portrait.jpg);
    background-position: center top;
    top: 0;

    & #terminal_Container {
      width: 100%;
      height: auto;
      aspect-ratio: 9 / 16;

      & #terminal_Container_Inputs {
        height: 100%;
      }

      & #chatbox_Container {
        width: 87%;
        height: 43.56%;
        top: 5.5%;
        left: 7.3%;
        border-radius: 10%;

        & #chatbox {
          font-size: 1.1em;
        }
      }
    }
  }

  & #rantBytesContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: 4;
    transition: top 0.5s ease-in-out;

    & #rantBytesPlayerBackground {
      width: 33%;
      height: 100%;
      background-image: url(../assets/RantbyteScreen.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease-in-out;
    }

    & #rantBytesPlayer {
      position: absolute;
      width: 16.5%;
      height: auto;
      top: 22.5%;
      left: 8.4%;
      z-index: 5;
      transform: scaleY(0);
      transition: all 0.2s ease-in;
      background-color: #000;
    }

  }

  & #rantBytesContainer.visible {
    top: 0;
  }

  & .pimpleBtn{
    position: absolute;
    cursor: pointer;
    width: 5%;
    height: 9%;
    left: 17.3%;
    top: 67.5%;
    border-radius: 50%;
    z-index: 3;
    background-color: transparent;
  }

  & #skipRMBtn {
    height: auto;
    width: 15%;
    right: 2%;
    bottom: 5%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: #ffff;
    border: 1px solid var(--terminalText);
    padding: 1% 2%;
    font-size: 0.8em;
  }
}

.hide {
  display: none !important;
}
.disabled,
.blockEvents{
  cursor:default;
  pointer-events: none;
}

/*Text flicker animation */
@keyframes textflicker {
  from {
    text-shadow: 0.3px 0 0.3px #bdea36, -0.3px 0 0.3px #75fa69;
  }

  to {
    text-shadow: 0.5px 0.3px 0.6px #bdea36, -0.5px -0.3px 0.6px #75fa69;
  }
}

/* Ends text flicker animation */

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #main_Container {

    #terminal_Container {

      & #chatbox_Container {
        background: repeating-linear-gradient(0deg, rgba(0, 255, 0, 0.07) -3px, transparent 2px);     
        
        & #simonScore{
          font-size: 0.7em;
        }
        & #userInput {
          height: 34px; 
          font-size: 1em;
        }

        & #chatbox{
          height: calc(96% - 40px);
          font-size: 1em;
          
          &.simonOn{
            height: calc(96% - 90px);
          }
        }

      }
    }

  }

  #startBtnContainer{
    text-align: center;
    & #btnStart {
      font-size: 1.2em !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #main_Container {
    & #terminal_Container{
      & #chatbox_Container{
        & .skipIntroBtn {
          bottom: 13%;
        }  
      }
    }
  
  }
}

@media (min-aspect-ratio: 16 / 9) {
  #main_Container {
    height: 100%;
    width: auto;
    & #terminal_Container{
      & #chatbox_Container{
        & .skipIntroBtn {
          bottom: 10%;
        }  
      }
    }
  
  }    

}